@import "tailwindcss" source(".");

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-[#03070a];
  min-height: 100%;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  margin: 0;
}

canvas {
  display: block;
}
